body {
  background-color: rgb(232, 232, 241);
}
.lcard {
  margin:auto;
  position: relative;
  border: 2px solid rgb(184, 178, 218);
  align-items: center;
  margin-top: 68px;
  background-color: white;
}
.login {
  margin-top: 50px;
  text-align: center;
  color:#3f51b5;
}
.loginButton{
  margin-top: 15px;
 color:#3f51b5 ;
 }
.cbutton {
  margin-top:25px;
}

.lfbutton{
  margin-top:15px;
}
.register {
  margin-top: 100px;
  border-color: 20ch, black;
  text-align: center
}
.rcard {
  width: 300px;
  padding: 0;
  margin: auto;
  border: 2px solid aliceblue;
  text-align: center
}
.typo{
  color:white;
  background-color: #3f51b5;

}
.button {
  display: flex;
  justify-content: space-between;
  margin-right: 460px;
  margin-left: 460px;
  padding-top: 4;
  margin-top: 12px;
}

.rname{
color:#3f51b5;
}
.rlbutton{
  margin-left:1px;
  margin-top:20px;
}
.logout {
  margin-left: 200px;
}
.lbutton{
  margin-left:400px;
  margin-top:5px;
}
.forgotpwd {
  margin-top: 50px;
}
.forgotpwd_head {
  color: #3f51b5;
  background-color: rgb(206, 206, 223);
}
.fCard {
  position: relative;
  margin: auto;
  color: blue;
  margin-top: 20px;
  border: 2px solid rgb(176, 176, 196);
  align-items: center;
  text-align: center;
  width: 400px
}
.fsButton{
  color: #3f51b5;
  margin-bottom: 10px;
}
/* For mobile phones: */
[className*=""] {
  width: 100%;
}
[class*=""]{
  width: 100%;
}
.forgotpwd{
  background-color: #eeeff7;
}
.morevertIcon{
  margin-right: 40px;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .lcard{
    width: 500px;
  }
  .fCard{
    width: 400px;
  }
  .rCard{
    width: 400px;
  }
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  .lcard{
    width: 500px;
  }
  .fCard{
    width: 400px;
  }
  .rCard{
    width: 400px;
  }
}


/* Dasboard css*/
.dashboardMainDiv{
  display: flex;
}
@media only screen and (min-width: 600px) {
    .drawer{
      width: 240px;
      flex-shrink: 0;
    }
    .fundoonote{
      padding-left: 500px;
    }
  
  }
 
.drawerPaper{
  width: 240px;
}
.content{
  flex-grow: 1;
  padding: 3;
}

/* dashboard css end*/
.dropdown{
  position: absolute;
  right:20px;
  bottom: 17px;
}
.lAppbar{
  align-items: center;
}
.content{
align-content: center;
padding-top: 80px;
margin-right: 250px;
}
.create-note-card{
  margin: auto;
  border: 1px solid #80868b;
  width:350px;
}
.create-note-card-icons{
  margin:0px 8px 0px 8px;
  width:300px
}

