body {
  background-color: rgb(241, 241, 247);
}
.lcard {
  /*position: relative;
  margin-left:350px;*/
  margin:auto;
  border: 2px solid rgb(176, 176, 196);
  align-items: center;
  width: 500px;
  margin-top: 20px;
}
.login {
  margin-top: 50px;
  padding-left: 100;
  margin-left: 200;
  text-align: center;
  color:#3f51b5;
}
.loginButton{
  margin-top: 15px;
 color:#3f51b5 ;
 }
.cbutton {
  margin-top:25px;
}

.lfbutton{
  margin-top:15px;
}
.register {
  margin-top: 100px;
  border-color: 20ch, black;
  text-align: center
}
.typo{
  color:white;
  background-color: #3f51b5;
  height:50px;
  align-items: center;
  align-content: center;
  margin-left: 500px;
  margin-top:15px
}
.button {
  display: flex;
  justify-content: space-between;
  margin-right: 460px;
  margin-left: 460px;
  padding-top: 4;
  margin-top: 12px;
}
.rcard {
  width: 375px;
  padding: 0;
  margin-left: 480px;
  border: 2px solid aliceblue;
  text-align: center
}
.rname{
color:#3f51b5;
}
.rlbutton{
  margin-left:1px;
  margin-top:20px;
}
.forgotpwd {
  margin-top: 200px;
  text-align: center;
}

.forgotpwd_head {
  color: #3f51b5;
}
.logout {
  margin-left: 200px;
}
.lbutton{
  margin-left:400px;
  margin-top:5px;
}
.forgotpwd {
  margin-top: 200px;
  text-align: center;
}

.forgotpwd_head {
  color: #4db6ac;
}
.fcard {
  position: relative;
  margin-top: 80px;
  margin-left:350px;
  width: 550px;
  border: 2px solid rgb(176, 176, 196);
  align-items: center;
}
/* For mobile phones: */
[className*=""] {
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .lCard{
    width: 600px;
  }
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  .lCard{
    width: 500px;
  }
}

/* Dasboard css*/
.root{
  display: flex;
}

@media only screen and (min-width: 600px) {
    .drawer{
      width: 240px;
      flex-shrink: 0;
    }
    .appBar{
      width:100%;
      margin-left: 240px;
      color:rgb(128,0,128)

    }
    .menuButton{
      display:none;
    }
  }
.toolbar{
  width: 240px;
  background-color: #3f51b5;
}
.drawerPaper{
  width: 240px;
}
.content{
  flex-grow: 1;
  padding: 3;
}
.profileCard{
  position: relative;
  margin: auto;
  margin-top: 60px;
  border: 2px solid rgb(180, 198, 216);
  align-items: center;
  
  }
/* dashboard css end*/
.icon{
  position: absolute;
  right:20px;
}



